@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-jp-v52-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: "Bangers";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/bangers-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
  margin: 0;
  font-family: "Noto Sans JP";
  background-image: url(./img/pkmbackground.jpg);
  background-size: cover; /* Bild über die gesamte Seite strecken */
  background-attachment: fixed; /* Bild bleibt fixiert, wenn gescrollt wird */
  background-position: center;
}
.dnone {
  display: none !important;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  position: relative; /* Für absolute Positionierung innerhalb des Headers */
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 30px;
  overflow: hidden;
}

header h1 {
  z-index: 1;
  cursor: pointer;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

header img {
  height: 90px;
  z-index: 1;
  cursor: pointer;
}

header input {
  margin-top: 6px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.774);
  border: 1px solid black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

header button {
  margin-top: 6px;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
}

header button:hover {
  background-color: #c1c1c1;
}

#searchDivHeader {
  right: 240px;
  position: absolute;
  display: flex;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: center;
}

.pokemonCardBox {
  display: flex;
  flex-direction: column;
  margin: 9px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
}

.pokemonCardBottom {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 4px 8px 4px 8px;
  border: 1px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pokemonImgBox {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.pokemonCardBox:hover {
  transform: scale(1.08);
}

.pokemonImg {
  height: 180px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  filter: drop-shadow(0 0 20px #ffffff);
}

.pokemonCardBox:hover .pokemonImg {
  filter: brightness(1.1) drop-shadow(0 0 20px #ffffff);
  transform: scale(1.05);
}

.pokemonPreInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.pokemonTypeInfo {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 60px;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.pokemonTypes {
  display: flex;
  gap: 8px;
}

.pokemonCardBox h2 {
  margin: 0;
  color: #272727df;
  padding: 4px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-family: "Bangers", system-ui;
  letter-spacing: 1px;
}

/* Pokemon Types Colors */

.type-normal {
  background-color: #a8a77a;
}

.type-fire {
  background-color: #ee8130;
}

.type-water {
  background-color: #6390f0;
}

.type-electric {
  background-color: #f7d02c;
}

.type-grass {
  background-color: #7ac74c;
}

.type-ice {
  background-color: #96d9d6;
}

.type-fighting {
  background-color: #c22e28;
}

.type-poison {
  background-color: #a33ea1;
}

.type-ground {
  background-color: #e2bf65;
}

.type-flying {
  background-color: #a98ff3;
}

.type-psychic {
  background-color: #f95587;
}

.type-bug {
  background-color: #a6b91a;
}

.type-rock {
  background-color: #b6a136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6f35fc;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #b7b7ce;
}

.type-fairy {
  background-color: #d685ad;
}

/* Pokemon Types Colors bright*/

.type-normal-bright {
  background-color: #c4c3a3;
}

.type-fire-bright {
  background-color: #f38c58;
}

.type-water-bright {
  background-color: #87a4ff;
}

.type-electric-bright {
  background-color: #fce25b;
}

.type-grass-bright {
  background-color: #9ed07e;
}

.type-ice-bright {
  background-color: #b5e1ec;
}

.type-fighting-bright {
  background-color: #e24c45;
}

.type-poison-bright {
  background-color: #c05ab5;
}

.type-ground-bright {
  background-color: #f0d479;
}

.type-flying-bright {
  background-color: #b8a5f9;
}

.type-psychic-bright {
  background-color: #ff83b1;
}

.type-bug-bright {
  background-color: #b6c325;
}

.type-rock-bright {
  background-color: #c4b748;
}

.type-ghost-bright {
  background-color: #8f85b8;
}

.type-dragon-bright {
  background-color: #9577ff;
}

.type-dark-bright {
  background-color: #8c7b67;
}

.type-steel-bright {
  background-color: #bfc0d5;
}

.type-fairy-bright {
  background-color: #e49fcb;
}

/* loading Animation */

#loadingAnimationDiv {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.pokeballLoading {
  position: fixed;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.pokeballLoading::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translatey(-50%);
}

.pokeballLoading::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
}

/*loading Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* pokemon Modal */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  animation-name: animatemodal;
  animation-duration: 0.5s;
}

@keyframes animatemodal {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modalBg {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#modalContent {
  background-color: rgb(255, 255, 255);
  height: 680px;
  width: 420px;
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid black;
}

.openedPokemonDiv {
  width: 420px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.openedPokemonImg {
  height: 260px;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 12px;
  filter: drop-shadow(12px 0px 0px rgba(0, 0, 0, 0.5));
  opacity: 0;
  transform: scale(0.7);
  animation: fadeInScale 0.5s forwards ease-in-out;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.openedPokemonDiv h2 {
  font-size: 38px;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  margin-top: 16px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

#lastImage {
  height: 38px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -64px;
  margin-top: auto;
  margin-bottom: auto;
  filter: opacity(0.8);
  cursor: pointer;
}

#nextImage {
  height: 38px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -64px;
  margin-top: auto;
  margin-bottom: auto;
  filter: opacity(0.8);
  cursor: pointer;
}

#lastImage:hover,
#nextImage:hover {
  filter: opacity(1);
  height: 42px;
}

#openedPokemonInfoDiv {
  width: 420px;
  height: 340px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
}

#openedPokemonInfoDiv div {
  padding: 40px 20px 20px 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* Bird animation */

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
  animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
  animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bird--one {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  -webkit-transform: scale(0) translateX(0);
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
  animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bird-container--one {
  animation-duration: 15s;
  animation-delay: 8s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    -webkit-transform: scale(0.3) translateX(-10vw);
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

.active {
  text-decoration-line: underline;
}

#infoContent {
  text-align: center;
}

.infoHeadlines span {
  cursor: pointer;
}

@media (max-width: 1480px) {
  header {
    justify-content: start;
  }

  header img {
    margin-left: 24px;
  }

  #searchDivHeader {
    right: 120px;
  }
}

@media (max-width: 1265px) {
  #mainContainer {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 1000px) {
  .bird-container--one {
    animation-duration: 12s;
    animation-delay: 10s;
  }
}

@media (max-width: 780px) {
  #searchDivHeader {
    right: 24px;
  }

  header h1 {
    display: none;
  }

  .bird {
    display: none;
  }
}

@media (max-width: 574px) {
  #mainContainer {
    margin-left: 12px;
    margin-right: 12px;
  }

  .pokemonCardBox {
    width: 180px;
  }

  .pokemonImg {
    height: 160px;
  }

  #modalContent {
    width: 300px;
  }

  #openedPokemonInfoDiv {
    width: 300px;
  }

  .openedPokemonDiv {
    width: 300px;
  }
}

@media (max-width: 420px) {
  #nextImage {
    top: 81%;
    right: 8px;
  }

  #lastImage {
    top: 81%;
    left: 8px;
  }
}

@media (max-width: 390px) {
  header input {
    width: 110px;
  }

  header img {
    margin-left: 12px;
  }
}

#scrollUpButton {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: none;
  height: 60px;
}
